.service-card {
    width: 339px;
    height: 453px;
    border-radius: 33px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.img-container {
    margin-top: 2rem;
}
.service-content{
    width: 80%;
}
.service-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

