.service-card {
    width: 100vw;
    max-width: 1200px;
    color: white;
    margin: 0 auto;
}
.header-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.service-title {
    font-size: 2.5rem;
    padding-right: 1rem;
    font-weight: 200;
}
.service-img {
    max-height: 50px;
}
.service-content{
    width: 90vw;
}
.service-content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

