.service-section {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    background-color: black;
}
.background-image {
    position: absolute;
    overflow: hidden;
    top: -70%;
    z-index: -1;
}
.service-header {
    margin: 2rem auto;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: .15em;
    font-size: 40px;
    font-weight: 500;
}
.card-container {
    margin: 2rem auto;
    display: flex;
    width: 75%;
    justify-content: space-between;  
}
.brands {
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 3rem;
    justify-content: space-evenly;
    align-items: center;
}
.company-logo {
    max-height: 90px;
}
