.contact-btn {
    width: 187px;
    height: 35px;
    border-radius: 16px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 3px;
    margin-left: 1rem;
}