:root {
    --header-color: black;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    height: 90px;
    background-color: black;
    z-index: 500;
}
.header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    position: relative;
}
.header-wrapper:last-child{
    justify-content: right;
}
.header-right {
    display: flex;
    align-items: center;
    margin-right: 4rem;
}

.logo-wrap {
    margin-left: auto;
    margin-right: auto;
}
