.bar {
  width: 35px;
  height: 2px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.869);
  margin: 5px;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-right: 1rem;
}
.menu-button-container {
  display: flex;
  flex-direction: columm;
  align-items: center;
  justify-content: right;
}
.menu-button-container:hover .bar{
  background-color: white;
  transition-duration: .25s;
}
.menu {
  position: absolute;
  top: 80px;
  right: 0rem;
  width: 100vw;
  align-items: right;
  background-color: black;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: .7rem;
}
.item:hover {
  transform: scale(1.1);
  transition-duration: .25s;
  background-color: white;
  color: black;
}
