.cta-btn {
    width: 300px;
    height: 40px;
    background: none;
    border-radius: 16px;
    border: 1px solid orange;
    margin-bottom: 2rem;
    color: orange;
    font-size: 1.25rem;
    font-family: "MarcellusSC";
}
