.cta-btn {
    width: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: none;
    border-radius: 16px;
    border: 1px solid orange;
    margin-bottom: 2rem;
    color: orange;
    font-size: 1.5rem;
    font-family: "MarcellusSC";
    text-decoration: none;
}
